<div>
    <span>this is span 1</span>
    <span>this is span 2</span>
</div>

<div>
    <h1>Header 1</h1>
    <h2>Header 2</h2>
    <h3>Header 3</h3>
    <h4>Header 4</h4>
    <h5>Header 5</h5>
    <h6>Header 6</h6>

    <dl>
        <dt>name:</dt>
        <dd>Vitaly</dd>
        <dt>last name:</dt>
        <dd>Khemlko</dd>
    </dl>

    <ul type="square">
        <li>list item 1</li>
        <li>list item 2</li>
        <li>list item 3</li>
        <li>list item 4</li>
    </ul>

    <a href="http://google.com">google it for you</a>

    <p>this is paragraph 1this is paragraph 1this is 
        paragraph 1this is paragraph 1this is paragraph 1
        this is paragraph 1this is paragraph 1this is paragraph 
        1this is paragraph 1this<i>this is italic</i> is paragraph 1this is paragraph
         1this is paragraph 1this is paragraph 1this is paragraph 
         <span style="color: red">this is span 1</span>
         1this is paragraph 1this is <b>this is bold</b>paragraph 1this is paragraph 
         1this is paragraph 1this is paragraph 1</p>
    
    <span>this is span 2</span>

    <img src="https://upload.wikimedia.org/wikipedia/en/4/4d/Shrek_%28character%29.png" />

        <table >
            <tr>
                <td style="border: 1px solid black">table data tag 1</td>
                
                <td style="border: 1px solid black">table data tag 2</td>

                <td style="border: 1px solid black">table data tag 2</td>
                <td style="border: 1px solid black">table data tag 2</td>
            </tr>
            <tr>
                    <td style="border: 1px solid black">table data tag 1</td>
                    <td style="border: 1px solid black" colspan="3">table data tag 2</td>
                </tr>
                <tr>
                        <td style="border: 1px solid black" colspan="2">table data tag 1</td>
                        <td style="border: 1px solid black" colspan="2">table data tag 2</td>
                    </tr>
                    <tr>
                            <td style="border: 1px solid black">table data tag 1</td>
                            <td style="border: 1px solid black">table data tag 2</td>
                        </tr>
        </table>

</div>


<app-books-list>

</app-books-list>